/* about*/ 

.card-about{
    border: 2px solid $orange; 
   
    .btn-info{
            background: $blue;
            color: $white;
            width: 90px;
            margin-bottom: 25px;
            margin-top: 20px;
        &:hover{
            background: $hover;
            color: $black;
            cursor: pointer;
        }
    }
             
    }
       
    



















